<a href="https://colab.research.google.com/github/bitprj/BitU-3WBootCamp/blob/main/Week_4/Sac_State_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <div align="center"> Module 4: Lab </div>

# <div align="center"> Experimental</div>

#Grading
In order to work on the questions in this Practicum and submit them for grading, you'll need to run the code block below. It will ask for your student ID number and then create a folder that will house your answers for each question. At the very end of the notebook, there is a code section that will download this folder as a zip file to your computer. This zip file will be your final submission.

In [ ]:
import os
import shutil

!rm -rf sample_data

student_id = input('Please Enter your Student ID: ') # Enter Student ID.

while len(student_id) != 9:
 student_id = int('Please Enter your Student ID: ')  
  
folder_location = f'{student_id}/Week_Six/Practicum'
if not os.path.exists(folder_location):
  os.makedirs(folder_location)
  print('Successfully Created Directory, Lets get started')
else:
  print('Directory Already Exists')

## Part 1 - Basic Setup

### Q1 - Load Libraries

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


import _________________ as plt  # INSERT CODE HERE
import ______ as pd  # INSERT CODE HERE

%matplotlib inline

### Q2 - Load file to Dataframe

In [ ]:
#Once your have verified your answer please uncomment the line below and run it, this will save your code 
#%%writefile -a {folder_location}/1.py
#Please note that if you uncomment and run multiple times, the program will keep appending to the file.


url = 'https://raw.githubusercontent.com/bitprj/BitU-3WBootCamp/main/Week_4/SAC_STATE_DATASET.csv'
df = __.read_csv(___)  # INSERT CODE HERE

In [ ]:
df

### Q3 - Renaming Columns

In [ ]:

df = df.rename(columns = {
    'INSERT_COLUMN_NAME': 'respondent_year',
    'INSERT_COLUMN_NAME' : 'confidence_in_supreme_court',
    'INSERT_COLUMN_NAME' : 'city_of_residence',
    'INSERT_COLUMN_NAME' : 'improving_national_reducation_system',
    'INSERT_COLUMN_NAME' : 'solving_big_city_problems',
    'INSERT_COLUMN_NAME' : 'respondents_income',
    'INSERT_COLUMN_NAME' : 'total_family_income',
    'INSERT_COLUMN_NAME' : 'respondents_race',
    'INSERT_COLUMN_NAME' : 'respondents_sex',
    "INSERT_COLUMN_NAME" : 'marital_status',
    "INSERT_COLUMN_NAME": 'respondents_id_num' ,
    "INSERT_COLUMN_NAME" : "ballot_used"
})

### **Observing the Dataset Using Pandas**
Now, the dataset is loaded as a dataframe `df`.

### Q4 - **head()**
Let's check what columns this file has by calling `head()` function. It returns first n rows, and it's useful to see the dataset at a quick glance.

By default, the head() function returns the first 5 rows.

You can specify the number of rows to display by calling df.head(number)

In [ ]:

# INSERT CODE HERE

### Q5 - **tail()**
The `tail()` method prints the last 5 rows of our dataset.

In [ ]:

# INSERT CODE HERE

### Q6 - **info()**
This will return all of the column  names and its types. This function is useful to get the idea of what the dataframe is like.

In [ ]:

# INSERT CODE HERE

###**Observations**
*****Questions:*****
- List down the number of unique `Dtype` in this dataset
- Is the datset uneven? If so list downthe column with the most missing rows?

### Q7 - **describe()**
`describe()` is used to view summary statistics of numeric columns. this will help you to have a general idea of the dataset.

In [ ]:

# INSERT CODE HERE

### Q8 - **shape**
To see the size of the dataset, we can use the `shape` function, which returns the number of rows and columns in a format of (#rows, #columns)

In [ ]:

INSERT CODE HERE

# Part 2 - Basic Data Manipulation

### Q9 - Drop `NaN` or `null` values
The `dropna()` method is designed to drop every value in our dataframe whose cell might have a null or undefined value. They are usually shown as `NaN`. 
Use this method to remove all null values.

In [ ]:

# INSERT CODE HERE

In this dataset, we only want to consider certain relevant data. We can disregard data that we don't need for today.

Using the `drop()` method, remove these columns:
```
- Improving nations education system	
- Solving problems of big cities
```

In [ ]:

# INSERT CODE HERE

### Q10 - Checking Columns
Let's check the columns that we have. We can use the built-in attribute `.columns` to view the names of the columns in our dataframe.

In [ ]:

# INSERT CODE HERE

## Checking unique values for every column
There are various different values for each column. We can check the unique values for each column with the built-in method of `unique()`. We can get the number of unique values in a column by calling `nunique()`. 

Print out the unique values and number of unique values for the following attributes:
- Respondent Year
- Confidence in Supreme Court
- Marital Status
- Respondents' Race
- Respondents' Sex
- Respondents' Income
- Ballot Used

### Q11 - `respondents_year`

In [ ]:

# Unique values list
print(df.___________________)  # INSERT CODE HERE
# Number of unique
print(df.___________________)  # INSERT CODE HERE

### Q12 - `confidence_in_supreme_court`

In [ ]:

# Unique values list
print(df.___________________)  # INSERT CODE HERE
# Number of unique
print(df.___________________)  # INSERT CODE HERE

### Q13 - `marital_status`

In [ ]:

# Unique values list
print(df.___________________)  # INSERT CODE HERE
# Number of unique
print(df.___________________)  # INSERT CODE HERE

### Q14 - `respondents_race`

In [ ]:

# Unique values list
print(df.___________________)  # INSERT CODE HERE
# Number of unique
print(df.___________________)  # INSERT CODE HERE

### Q15 - `respondents_sex`

In [ ]:

# Unique values list
print(df.___________________)  # INSERT CODE HERE
# Number of unique
print(df.___________________)  # INSERT CODE HERE

### Q16 - `respondents_income`

In [ ]:

# Unique values list
print(df.___________________)  # INSERT CODE HERE
# Number of unique
print(df.___________________)  # INSERT CODE HERE

### Q17 - `ballot_used`

In [ ]:

# Unique values list
print(df.___________________)  # INSERT CODE HERE
# Number of unique
print(df.___________________)  # INSERT CODE HERE

*****Questions:*****
- What were the values for confidence levels in supreme court? Is this a good scale to measure by?
- What are the ranges of income that were surveyed?
- How many different types of ballot were cast?

## Organizing Values

For basic data visualizations it is difficult to work with categorical data, therefore for this part we will convert three categorical columns
- `respondents_income`
- `total_family_income`
- `ballot_used`


**You don't have to write the code yourself, simply observe the code below and run it.**

In [ ]:
# Donot Modify, ONly run the following lines of code


df['respondents_income']= df['respondents_income'].replace({'Not applicable': 0})
df['respondents_income']= df['respondents_income'].replace({'Refused': 0})
df['respondents_income']= df['respondents_income'].replace({'Don\'t know': 0})
df['respondents_income']= df['respondents_income'].replace({'No answer': 0})
df['respondents_income']= df['respondents_income'].replace({'Lt $1000': 1000})
df['respondents_income']= df['respondents_income'].replace({'$1000 to 2999': 2999})
df['respondents_income']= df['respondents_income'].replace({'$3000 to 3999': 3999})
df['respondents_income']= df['respondents_income'].replace({'$4000 to 4999': 4999})
df['respondents_income']= df['respondents_income'].replace({'$5000 to 5999': 5999})
df['respondents_income']= df['respondents_income'].replace({'$6000 to 6999': 6999})
df['respondents_income']= df['respondents_income'].replace({'$7000 to 7999': 7999})
df['respondents_income']= df['respondents_income'].replace({'$8000 to 9999': 9999})
df['respondents_income']= df['respondents_income'].replace({'$10000 - 14999': 14999})
df['respondents_income']= df['respondents_income'].replace({'$15000 - 19999': 19999})
df['respondents_income']= df['respondents_income'].replace({'$20000 - 24999': 24999})
df['respondents_income']= df['respondents_income'].replace({'$25000 or more': 25999})

df['total_family_income']= df['total_family_income'].replace({'Not applicable': 0})
df['total_family_income']= df['total_family_income'].replace({'Refused':0 })
df['total_family_income']= df['total_family_income'].replace({'Don\'t know': 0})
df['total_family_income']= df['total_family_income'].replace({'No answer': 0})
df['total_family_income']= df['total_family_income'].replace({'Lt $1000': 1000})
df['total_family_income']= df['total_family_income'].replace({'$1000 to 2999': 2999})
df['total_family_income']= df['total_family_income'].replace({'$3000 to 3999': 3999})
df['total_family_income']= df['total_family_income'].replace({'$4000 to 4999': 4999})
df['total_family_income']= df['total_family_income'].replace({'$5000 to 5999': 5999})
df['total_family_income']= df['total_family_income'].replace({'$6000 to 6999': 6999})
df['total_family_income']= df['total_family_income'].replace({'$7000 to 7999': 7999})
df['total_family_income']= df['total_family_income'].replace({'$8000 to 9999': 9999})
df['total_family_income']= df['total_family_income'].replace({'$10000 - 14999': 14999})
df['total_family_income']= df['total_family_income'].replace({'$15000 - 19999': 19999})
df['total_family_income']= df['total_family_income'].replace({'$20000 - 24999': 24999})
df['total_family_income']= df['total_family_income'].replace({'$25000 or more': 25999})

df['ballot_used']= df['ballot_used'].replace({'Not applicable': 0})
df['ballot_used']= df['ballot_used'].replace({'Ballot a': 1})
df['ballot_used']= df['ballot_used'].replace({'Ballot b': 2})
df['ballot_used']= df['ballot_used'].replace({'Ballot c': 3})
df['ballot_used']= df['ballot_used'].replace({'Ballot d': 4})

In [ ]:
df

Notice that we have a column for respondent ID number. We also have an index for the entire dataset. Use the pandas built-in features to  replace the respondent ID number column as the table index.

In [ ]:

# INSERT CODE HERE

## Step 3 - Basic Plots
Recall that we learned about tools to plot data. Lets review some of this now.

kind : `str`

        ‘line’ : line plot (default)
        ‘bar’ : vertical bar plot
        ‘barh’ : horizontal bar plot
        ‘hist’ : histogram
        ‘box’ : boxplot
        ‘kde’ : Kernel Density Estimation plot
        ‘density’ : same as ‘kde’
        ‘area’ : area plot
        ‘pie’ : pie plot
        ‘scatter’ : scatter plot
        ‘hexbin’ : hexbin plot

In [ ]:
df['respondent_year'] =df['respondent_year'].astype(int) # Don't modify this

### Q18 - Plotting `respondent_year` frequency

In [ ]:
'''
INSERT CODE HERE
'''

df['respondent_year'].hist(bins=32)


plt.show() # Students don't have to write this

### Q19 - Plotting frequency of `ballot_used`
Let's take a look at the various ballots that were cast.
Use `matplotlib` 's `hist()` feature to plot a histogram for the ballots used in this dataset.

In [ ]:

df[________].hist(bins =4)  # INSERT CODE HERE

*****Questions:*****
- What conclusions can you form from this data?

### Q20 - Plotting Income Brackets
This dataset features statistics about people from various income brackets.
Use the plot of your choice to graphically represent the various income groups of respondents.

In [ ]:
df[__________].____(bins =____________________)  # INSERT CODE HERE

*****Questions:*****
- What conclusions can you form from this data?

## Observing the latest recorded year

### Q21a - filter a dataframe that only has the maximum year recorded

- You can use `.loc` for this.
- Save it as `latest_year_df`

In [ ]:

# INSERT CODE HERE

### Q21b - Plot the `respondents_race` for `latest_year_df`

In [ ]:

# INSERT CODE HERE

### Q21c - Plot the `respondents_sex` for `latest_year_df`

In [ ]:

# INSERT CODE HERE

### Q21d - Plot two histograms of `respondents_income` and `total_family_income` for `latest_year_df`

In [ ]:
'''
INSERT CODE HERE
'''

## Observing a decade before the latest year.

### Q22a - filter a dataframe that shows the year 10 years before maximum year recorded

- You can use `.loc` for this.
- Save it as `decade_earlier_df`

In [ ]:
'''
INSERT CODE HERE
'''

### Q22b - Plot the `respondents_race` for `decade_earlier_df`

In [ ]:
'''
INSERT CODE HERE
'''

### Q22c - Plot the `respondents_sex` for `decade_earlier_df`

In [ ]:
'''
INSERT CODE HERE
'''

### Q22d - Plot two histograms of `respondents_income` and `total_family_income` for `decade_earlier_df`

In [ ]:
'''
INSERT CODE HERE
'''

#Submission
Run this code block to download your answers.

In [ ]:
from google.colab import files
!zip -r "{student_id}.zip" "{student_id}"
files.download(f"{student_id}.zip")